* {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.screen {
    display: flex;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
}

.rightside {
    width: 400px;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside label:last-of-type {
    display: flex;
    justify-content: center;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.rightside input[type ='submit'] {
    width: 50%;
    min-width: 120px;
}

.error {
    font-size: 11px;
    color: #f00;
    padding: 4px;
}